@model IEnumerable<HTTP5101_Cumulative_Project.Models.Student>
@{
    ViewBag.Title = "Index";
}

<h2>Students List Page</h2>

<div class="row">
    <div class="col-12">
        <form asp-controller="Student" asp-action="Index">
            <p>
                Search: <input type="text" name="Search" value="@ViewData["Search"]" />
                <input type="submit" value="Search" />
            </p>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table border="1">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Student Number</th>
                    <th>Student First Name</th>
                    <th>Student Last Name</th>
                    <th>Enrol date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{int i = 1;}
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.StudentNumber</td>
                        <td>@item.StudentFName</td>
                        <td>@item.StudentLName</td>
                        <td>@item.EnrolDate.ToShortDateString()</td>
                        <td>
                            @Html.ActionLink("View", "Details", new { id = @item.StudentId }, new { @class = "btn btn-primary" })
                        </td>
                    </tr>

                    i++;
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    table {
        width: 100%;
    }

    thead, tbody, tfoot, tr, td, th {
        border-width: 1px;
        padding: 0.25em;
    }
</style>