@model HTTP5101_Cumulative_Project.Models.Teacher
@{
    ViewBag.Title = "Update Teacher Ajax";
}

<h2>Update Teacher Ajax</h2>

<div id="containershow">
    <nav class="my-2">
        <a class="btn btn-secondary navlink" href="/Teacher">Back To Teachers</a>
    </nav>

    <div class="inputrow my-2">
        <label for="TeacherFName">First Name:</label>
        <input type="text" id="TeacherFName" name="TeacherFName" value="@Model.TeacherFName"/>
    </div>
    <div class="inputrow my-2">
        <label for="TeacherLName">Last Name:</label>
        <input type="text" id="TeacherLName" name="TeacherLName" value="@Model.TeacherLName"/>
    </div>
    <div class="inputrow my-2">
        <label for="EmployeeNumber">Employee Number:</label>
        <input type="text" id="EmployeeNumber" name="EmployeeNumber" value="@Model.EmployeeNumber"/>
    </div>
    <div class="inputrow my-2">
        <label for="Salary">Salary:</label>
        <input type="number" min="0" step="0.01" value="@Model.Salary" id="Salary" name="Salary" />
    </div>

    <button class="btn btn-primary" onclick="UpdateTeacher(@Model.TeacherId);">Update Teacher</button>
</div>
<script src="~/Scripts/teachers.js"></script>

