@model IEnumerable<HTTP5101_Cumulative_Project.Models.Teacher>
@{
    ViewBag.Title = "Index";
}

<h2>Teachers List Page</h2>

<nav class="my-2">
    <a class="btn btn-primary navlink" href="/Teacher/New">Add Teacher</a>
    <a class="btn btn-primary navlink" href="/Teacher/Ajax_New">Add Teacher From Ajax</a>
</nav>

<div class="row">
    <div class="col-12">
        <form asp-controller="Teacher" asp-action="Index">
            <p>
                Search: <input type="text" name="Search" value="@ViewData["Search"]"/>
                <input type="submit" value="Search" />
            </p>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table border="1">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Employee Number</th>
                    <th>Teacher First Name</th>
                    <th>Teacher Last Name</th>
                    <th>Hire date</th>
                    <th>Salary</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{int i = 1;}
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.TeacherId</td>
                        <td>@item.EmployeeNumber</td>
                        <td>@item.TeacherFName</td>
                        <td>@item.TeacherLName</td>
                        <td>@item.HireDate.ToShortDateString()</td>
                        <td>@item.Salary</td>
                        <td>
                            @Html.ActionLink("View", "Details", new { id = @item.TeacherId }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Delete", "ConfirmDelete", new { id = @item.TeacherId }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>

                    i++;
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    table {
        width: 100%;
    }
    thead, tbody, tfoot, tr, td, th {
        border-width: 1px;
        padding: 0.25em;
    }
</style>